#title {
    background-color: #ff4368;
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index:
}

#press {
    background-color: #f5603b;
    text-align: center;
    padding: 20px 0 20px 0;
}

.phone {
    position: absoltue;
    height: 625px; transform: rotate(25deg); margin-top: 20px;
}

.btnx {
    margin: 10px 20px 0 0;
}

.carousel-item {
    padding: 200px 150px;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    padding: 10px;
}

.container-fliud {
    padding: 3% 12%;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5 rem;
    font-weight: bold;
}

.profile {
    border-radius: 100%;
}

.row {
    text-align: center;
    margin: 0;
}

#testimonials {
    background-color: #f5603b;
    text-align: center;
}

body {
    font-family: "Montserrat";
    margin-left: 0;
}

h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    margin: 50px auto 20px auto;
}

.h21 {
    color: #fff;
    font-size: 2.5 rem;
    line-height: 1.5;
    padding: 20px 0 100px 0;
}

h2 {
    margin: 50px 0 20px 0;
}

h3 {
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 15px;
}

#pricing {
    text-align: center;
}

.pricing-column {
    padding: 5px 5px;
}

@media (max-width: 1000px) {
    .phone {
        position: static;
        transform:rotate(0);
    }
}

#CTA {
    background-color: #f5603b;
    text-align: center;
    padding: 40px 40px 50px;
    color: white;
}

#footer {
    background-color: #f5603b;
    padding: 20px 40px 50px;
}